@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.hero-container {
    position: relative;
    background: url('../Images/hero.jpg') lightgray 50% / cover no-repeat;
    height: 100vh;
    /* margin-top: 5.25rem; */
    font-family: 'Poppins', sans-serif;
}

.overlay-container {
    position: absolute;
    width: 30.1875rem;
    margin-left: 2rem;
    margin-top: 12rem;
    padding: 1.75rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #d7d7d7;
}

.overlay-invite {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0.0625rem; /* 125% */
}

.overlay-btn {
    display: inline-flex;
    padding: 1rem 2.5rem;
    margin-top: 1rem;
    align-items: flex-start;
    gap: 0.625rem;
    background-color: #15181f;
    color: #ffffff;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    outline: none;
    border: none;
    transition: 0.3s;
}

.overlay-btn:hover {
    background-color: #15350f;
}