@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.navbar-box{
    position: absolute;
    /* top: 0;
    left: 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90rem;
    height: 5.25rem;
    flex-shrink: 0;
    background: #FFF;
    font-family: 'Poppins', sans-serif;
    color: #000;
}

.navbar-container{
    width: 80.375rem;
    height: 2.5625rem;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand h3{
    cursor: pointer;
}

.navbar-menu ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.navbar-menu ul li{
    margin-right: 3.5rem;
    cursor: pointer;
}

.navbar-icons img{
    margin-right: 2.5rem;
    cursor: pointer;
}

a:visited {
    text-decoration: none;
    color:black;
  }

  .dropdown-menu {
    display: flex;
    position: absolute;
    top: 100%; /* Position it below the profile icon */
    right: 12rem; /* Align it with the left side of the icon */
    width: 9rem; /* Adjust width as needed */
    background-color: #fff; /* Customize background color */
    border: 1px solid #ccc; /* Add a border */
    padding: 10px; /* Add padding */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    z-index: 1; /* Ensure it appears above other elements */
  }

  .dropdown-menu ul{
    list-style-type: none;
}

.dropdown-btn {
    font-family: 'Poppins', sans-serif;
    border: none;
    color: #FFF;
    background-color: #15181f;
}