@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.navbar-box{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90rem;
    height: 6.25rem;
    flex-shrink: 0;
    background: #FFF;
    font-family: 'Poppins', sans-serif;
}

.navbar-container{
    width: 80.375rem;
    height: 2.5625rem;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand h3{
    cursor: pointer;
}

.navbar-menu ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.navbar-menu ul li{
    margin-right: 3.5rem;
    cursor: pointer;
}

.navbar-icons img{
    margin-right: 2.5rem;
    cursor: pointer;
}