@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.shopcard-container {
    width: 17.8125rem;
    height: 27.875rem;
    background: var(--Color-Light-BG, #F4F5F7);
    font-family: 'Poppins', sans-serif;
    margin: 1rem;
}

.shopcard-img {
    background: url('https://assets.myntassets.com/fl_progressive/h_960,q_80,w_720/v1/assets/images/11846940/2020/9/25/4865add2-7c5e-4627-bee0-1c5840cfd72d1601029454113-HRX-by-Hrithik-Roshan-Men-Jackets-6241601029451849-1.jpg') lightgray 50% / cover no-repeat;
    width: 17.8125rem;
    height: 18.8125rem;
    flex-shrink: 0;
}

.shopcard-desc {
    width: 17.8125rem;
    height: 9.0625rem;
    flex-shrink: 0;
    background: var(--Color-Light-BG, #F4F5F7);
}

.shopcard-btn {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}